{% extends 'base.html' %}

{% load widget_tweaks %}
{% block body %}
<h1>Dashboard</h1>
    <h2>Welcome {{ name }}</h2>
{% if perms.accounts.delete_userinfo %}
    <input type="button" value="Add"><br>
    <input type="button" value="Change"><br>
    <input type="button" value="Delete"><br>
    <input type="button" value="Edit"><br>
{% else %}
    <p>No Delete Permission</p>
{% endif %}
    <a href="{% url 'accounts:logout' %}">Logout</a>
    <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="card-header text-black">
                  <h2>Profile</h2>
                </div>
                <div class="card-body">
                          <p> User Name    : {{ user.username }}<br> </p>
                          <p> First Name   : {{ user.first_name }}<br> </p>
                          <p> Last Name    : {{ user.last_name }}<br> </p>
                          <p> Email        : {{ user.email }}<br> </p>
                          <p> Phone Number : {{ user.profile.phone_number }}<br> </p>
                          <p> Location     : {{ user.profile.location }}<br> </p>
                         <br>
                 </div>
                    </div>
                </div>
              </div>
            </div>
      </section>
{% endblock %}