{% extends 'base.html' %}

{% load widget_tweaks %}

{% block body %}
<div class="container">
    <h1>
        Search Lesson
    </h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
</div>
<br><br><br>
<div class="row mt-3 pt-3">
    {% for lesson in lessons %}
        <div class="col-sm-4">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ lesson.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Lesson ID : {{ lesson.id }}</h6>
                <p class="card-text">{{ lesson.created_at }}</p>
                {% if request.user|has_group:"professor" %}
                <a href="{% url 'learning_material:edit_lesson' lesson.id %}" class="card-link">Lesson Edit</a>
                  {% else %}
                    <a href="" class="card-link">Read Lesson</a>
                  {% endif %}
              </div>
            </div>
        </div>
    {% empty %}
        <h1>No Lesson with that name exists.</h1>
    {% endfor %}
</div>
{% endblock %}
